#period-graph,#voto-graph{
    min-height: 300px;
}

#limit-graph {
    min-height: 320px;
}

#minage-graph, #preage-graph {
    min-height: 320px;
}

#art-content, #art-related {
    font-size: 18px;
    margin-top: 10px;
}
#art-title, #related-title, #project {
    color: #461A57;
    font-weight: bold;
    font-size: 20px;
}

#related-title {
    text-align: left;
}

#title-art, #chapter-art, #section-art {
    font-size:12px;
    font-weight: bold;
    color: #9C9DA1;
    margin-bottom: 2px;
} 

.art-inciso {
    padding-left: 15px;
}

#last-art {
    text-align: center;    
}
#next-art {
    text-align: center;
    margin-left:-70px;
}

#last-art>i, #next-art>i {
    margin-top: 100px;
    font-size: 34px;
    position: fixed;
}

#next-art>i:focus, #next-art>i:hover,#last-art>i:focus, #last-art>i:hover  {
    font-weight: bold;
}

#art-debate {
    text-align: right;
    padding-right: 20px;

}

#debate-action, #close-related, #show-related {
    /*background-color: rgb(51,122,183);*/
    font-size: 13px;
    background-color: rgba(70,26,87,0.85);
    color: #FFFFFF;
    /*padding: 5px;*/
}

#debate-action:focus, #debate-action:hover, #close-related:hover, #close-related:focus, #show-related:hover,#show-related:focus, #searchaction:hover, #searchaction:focus {
    background-color: #461A57;
}

#comment-header{
    font-size: 16px;
    margin-top: 25px;
    font-weight: bold;
    color: #461A57;
}

#indice {
    height: 100%;
}

#index-select {
    background-color: #461A57;
    padding: 10px;
    margin-bottom: 5px;
    padding-left: 40px;
}

#index-select>span {
    color: #FFFFFF;
    padding-right: 5px;
    font-weight: bold;
    font-size: 18px;
}

#debate-btn-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#debate-btn {
    font-size: 24px;
    color: #FFFFFF;
    padding: 20px;
    background-color: rgba(70,26,87,0.9);
    font-weight: bold;
}

#debate-btn:focus, #debate-btn:hover {
    background-color: rgb(70,26,87);
}

@media(max-width:900px){

#debate-btn {
    font-size: 17px;
    padding: 10px;
    margin-top: 10px;
}
#legend {
    margin-top: 220px;
    -moz-transform: translateX(-53%);
    -webkit-transform: translateX(-53%);
    transform: translateX(-53%);
}
#limit-graph {
    min-height: 400px;
}

.org {
    width:25px;
    height: 80px;
    font-size: 6px;
}

.org-title{
    font-size: 6px;
    transform: rotateZ(-90deg);
}

.org-sec {
    font-size: 8px;
}
}

#constitucion-image {
    text-align:left;
}

#vch-legend, #ch-legend, .ch {
    background-color: rgba(30,187,51,0.3);
}

#vnw-legend, #nw-legend, .nw {
    background-color: rgba(36,79,187,0.3);
}

#vdl-legend, #dl-legend, .dl {
    background-color: rgba(255,37,37,0.3);
}

#vmv-legend, #mv-legend, .mv {
    background-color: rgba(139,94,45,0.3);
}

#vre-legend, #re-legend, .re {
    background-color: rgba(255,197,23,0.5);
}

#searchblock {
    text-align: right;
    padding: 2px;
    margin-right:4px;
}

#searchaction{
    font-size:13px;
    color: #FFFFFF;
    margin-left: 4px;
    background-color: rgba(70,26,87,0.85);
}

#searchtext{
    font-size:13px;
    width: 200px;
}

#searchresults {
    background-color: #F1F1F1;
    margin-bottom: 7px;
    margin-top:5px;
}

#hidesearch {
    text-align: right;
}

#searchitems {
    margin-left: 10px;
    margin-right: 10px;
}

#nosearch {
    font-size: 20px;
}

#searchtotal{
    font-size: 20px;
}

#nw-legend, #dl-legend, #ch-legend, #mv-legend, #re-legend {
    padding: 1px;
    font-size: 11px;
    margin: 1px;
    text-align: center;
    transform: rotateZ(-90deg);
    width: 60px;
}

#vnw-legend, #vdl-legend, #vch-legend, #vmv-legend, #vre-legend, #my-legend, #mn-legend, #mu-legend {
    padding: 1px;
    font-size: 11px;
    margin: 1px;
    text-align: center;
    width: 60px;
}

#my-legend, #mn-legend, #mu-legend  {
    color: #FFFFFF;
}

#dl-legend{
    margin-top:45px;
}

#ch-legend {
    margin-top:45px;
}

#mv-legend {
    margin-top: 45px;
}

#re-legend {
    margin-top: 45px;
}

#notebar {
    padding-left: 10px;
}



.map {
    width: 100%;
    height: 415px;
}

#vlegend, #mlegend {
    text-align: center;
}

#my-legend {
    background-color: #461A57;
}

#mn-legend {
    background-color: #737BA4;
}

#mu-legend {
    background-color: #8F8F8F;
}

@media(min-width:900px){
#legend {
    margin-top: 195px;
    -moz-transform: translateX(53%);
    -webkit-transform: translateX(53%);
    transform: translateX(53%);
}

.org {
    width:60px;
    height: 100px;
}

.org-title{
    font-size: 12px;
}

.org-sec {
    font-size: 12px;
}

}

.org {
    border: solid 10px;
    border-color: white;
}

.org-title{
    text-align: center;
    font-weight: bold;
}

.org-sec {
    color: gray;
    transform: rotateZ(-90deg);
}

.dbackgroundcolor, .dtextcolor {
    background-color: blue;
    color: blue;
}

.ibackgroundcolor, .itextcolor {
    background-color: red;
    color: red;
}

.nbackgroundcolor, .ntextcolor {
    background-color: green;
    color: green;
}

#eleccion-organos-graph > table {
    margin: 0 auto;
}

.legend {
    text-align: center;
}
