.disp {
    min-height: 665px;
    margin-top: 0px;
}

.general {
    background-color: #FFFFFF;
    
}

.even {
    background-color: #D4BA9F;
}

.odd {
    background-color: #847467;
}

.month {
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.month-name {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    margin-left: 5px;
}

.nblock {
    min-height: 150px;
    background-color: #FFFFFF;
    margin: 10px;

}

.nblock-img {
    background-color: #FFFFFF;
    margin:2px;
    min-height: 146px;
}

.nblock-img > img {
    width: 100%;
}


.nblock-title {
    font-size: 22px;
    margin-top: 2px;
    margin-left:-4px;
}

.nblock-text {
    margin-top: 2px;
    margin-bottom: 2px;
}

.explain {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
}

.gblock-menu {
    font-size: 18px;
    padding: 0px;
    color: #DDDDDD;
}

.gblock-option {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #DDDDDD;
    color: #FFFFFF;
}

.gblock-selected {
    background-color: #FFFFFF;
    font-weight: bold;
    color: #DDDDDD;
}

.gitem-selected {
    background-color: #DDDDDD;
    color: #FFFFFF;
}

.gsearch, 
.gtopics {
    margin-left: 0px;
    margin-top: 2px;
    background-color: #FFFFFF;
    color: #DDDDDD;
    width: 188px;
}


.gsearch > div,
.gtopics > div {
    padding-left: 4px;
    padding-top: 1px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.ndata {
    margin-top: -10px;
    background-color: #FFFFFF;
    margin: 10px;
}

.granma {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.thumb {
    margin-top: -85px;
}

.closing {
    margin: 15px;
    padding-bottom:15px;
    font-weight: bold;
}

.general {
    background: url(../images/mapa.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  }
  
.begin {
     background-color: rgba(132,116,103,0.85);
     min-height: 500px;
     margin-top: 80px;
     margin-left: 20px;
     margin-right: 10px;
     color: #ffffff;
     padding: 40px;
     margin-bottom: 60px;
}

.begin-title {
    font-size:40px;
    font-weight: bold;
    
}

.begin-lead {
    font-size:24px;
    margin-top: 2px;
}


.begin-authors {

    font-size: 12px;
    margin-top: 20px;
    text-align: right;
}

.begin-authors > a {
    text-decoration: none;
    color: #ffffff;
}

.begin-content {
    margin-top: 15px;
    font-size: 16px;
}
